{% extends "base.html" %}
{% block title %}Retrieve Orders{% endblock %}

{% block content %}

<button type="button" class="btn btn-success"><a href="/createOrder">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus"
      viewBox="0 0 16 16">
      <path
        d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
      </path>
      <path fill-rule="evenodd"
        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z">
      </path>
    </svg>Create</a></button>
<h1 class="display-4">Retrieve Orders</h1>
<div>
  {% if count == 0 %}
  <p>There are no orders.</p>
  {% elif count == 1 %}
  <p>There is 1 order.</p>
  {% else %}
  <p>There are {{ count }} orders.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Purchase Order</th>
        <th>Supplier</th>
        <th>Delivery Date</th>
        <th>Order Status</th>
        <th>Amount</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders_list %}
      <tr>
        <td>{{ order.get_id() }}</td>
        <td>{{ order.get_date() }}</td>
        <td>{{ order.get_purchase_order() }}</td>
        <td>{{ order.get_supplier() }}</td>
        <td>{{ order.get_delivery_date() }}</td>
        {% if order.get_order_status() == 'Active' %}
        <td>
          <form action="{{url_for('status_order', id=order.get_id())}}" id="order.get_id()" method="POST">
            <button class="btn btn-success">{{ order.get_order_status() }}</button>
          </form>
        </td>
        {% elif order.get_order_status() == 'Inactive' %}
        <td>
          <form action="{{url_for('status_order', id=order.get_id())}}" id="order.get_id()" method="POST">
            <button class="btn btn-danger">{{ order.get_order_status() }}</button>
          </form>
        </td>
        {% endif %}

        <td>{{ order.get_amount() }}</td>
        <td><a href="/updateOrder/{{order.get_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_order', id=order.get_id())}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger"
              onclick="return confirm('Are you sure you want to delete {{order.get_date()}} {{order.get_supplier()}}?');">
            <!--                   Button to Open the Modal-->
            <!--    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{order.get_id()}}">-->
            <!--      Delete-->
            <!--    </button>-->
            <!--          &lt;!&ndash; The Modal &ndash;&gt;-->
            <!--          <div class="modal" id="myModal_{{order.get_id()}}">-->
            <!--            <div class="modal-dialog">-->
            <!--              <div class="modal-content">-->

            <!--                &lt;!&ndash; Modal Header &ndash;&gt;-->
            <!--                <div class="modal-header">-->
            <!--                  <h4 class="modal-title">Delete Confirmation</h4>-->
            <!--                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
            <!--                </div>-->

            <!--                &lt;!&ndash; Modal body &ndash;&gt;-->
            <!--                <div class="modal-body">-->
            <!--                  Are you sure you want to delete {{order.get_date()}} {{order.get_supplier()}}?-->
            <!--                </div>-->

            <!--                &lt;!&ndash; Modal footer &ndash;&gt;-->
            <!--                <div class="modal-footer">-->
            <!--                  <input type="submit" value="Delete" class="btn btn-danger">-->
            <!--                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>-->
            <!--                </div>-->

            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->

          </form>


        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}